@keyframes heartbeat {
  0% {
    transform: scale(.75);
  }

  20% {
    transform: scale(1);
  }

  40% {
    transform: scale(.75);
  }

  60% {
    transform: scale(1);
  }

  80% {
    transform: scale(.75);
  }

  100% {
    transform: scale(.75);
  }
}

.fa-heart {
  font-size: 2rem;
  transform: translateX(-50%);
  animation: heartbeat 1s infinite;
}

.close-icon {
  position: absolute;
  top: 0;
  left: 0;
  color: grey;
  transition: color 0.2s ease;
}

.close-icon:hover {
  color: black;
};


