$accent-yellow: (
    50 : #fffde0,
    100 : #fff9b3,
    200 : #fff680,
    300 : #fff24d,
    400 : #ffef26,
    500 : #ffec00,
    600 : #ffea00,
    700 : #ffe700,
    800 : #ffe400,
    900 : #ffdf00,
    A100 : #ffffff,
    A200 : #fffdf2,
    A400 : #fff6bf,
    A700 : #fff2a6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);