$warn-red: (
    50 : #ffeaea,
    100 : #ffcbcb,
    200 : #ffa9a9,
    300 : #ff8687,
    400 : #ff6c6d,
    500 : #ff5253,
    600 : #ff4b4c,
    700 : #ff4142,
    800 : #ff3839,
    900 : #ff2829,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffd5d6,
    A700 : #ffbcbc,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);